.post {
  background-color: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

/* 
  O sinal de + no CSS faz com que esse seletor somente se aplique a um poste que possui outro post antes dele,
  dessa forma, o espaçamento só será aplicado se tivermos mais de um post.
  */
.post + .post {
  margin-top: 2rem;
}

/* O sinal de maior faz com que o seletor atue apenas sobre o header do primeiro nível abaixo da classe post */
.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author img {
  width: calc(3rem + 12px); /* 4px direita + 4px esquerda + 2px direita + 2px esquerda = 12px*/
  height: calc(3rem + 12px); /* 4px direita + 4px esquerda + 2px direita + 2px esquerda = 12px*/
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}

.post > header time {
  font-size: 0.875rem;
  color: var(--gray-400);
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}

.content a:hover {
  color: var(--green-300);
}

.author{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo strong {
  display: block;
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span {
  display: block;
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;

}