.post {
  background-color: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

/* 
  O sinal de + no CSS faz com que esse seletor somente se aplique a um poste que possui outro post antes dele,
  dessa forma, o espaçamento só será aplicado se tivermos mais de um post.
  */
.post + .post {
  margin-top: 2rem;
}

/* O sinal de maior faz com que o seletor atue apenas sobre o header do primeiro nível abaixo da classe post */
.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}