.sidebar{
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden; /* Oculta a parte sobresalente da imagem, evitando que ela ultrapasse o espaço destinado a ela*/
}

.cover{
  width: 100%;
  height: 72px;
  object-fit: cover; /* Mostra apenas o centro da imagem sem distorcer o conteúdo*/
}